swagger: '2.0'
info:
  version: -2.0
  title: video surveillance `as-if-truth` API (#foolish|rubbish|unlimited)
host: api.pettystreamer.org
schemes:
  - https
definitions:
  Server:
    type: object
    required:
      - id
      - networkAddress
      - productName
      - vendor
    properties:
      id:
        type: integer
        format: int64
      networkAddress:
        type: string
      productName:
        type: string
      vendor:
        type: string
  Camera:
    type: object
    required:
      - id
      - networkAddress
      - location
      - serverRelId
      - productName
      - vendor
    properties:
      id:
        type: integer
        format: int64
      networkAddress:
        type: string
      location:
        type: string
      serverRelId:
        type: integer
        format: int64
      productName:
        type: string
      vendor:
        type: string
  Record:
    type: object
    required:
      - id
      - cameraRelId
      - fileName
      - fileExtension
      - fileSize
      - duration
      - timeStart
      - timeFinish
    properties:
      id:
        type: integer
        format: int64
      cameraRelId:
        type: integer
        format: int64
      fileName:
        type: string
      fileExtension:
        type: string
      fileSize:
        type: integer
        format: int32
      duration:
        type: string
        format: date-time
      timeStart:
        type: string
        format: date-time
      timeFinish:
        type: string
        format: date-time
  FileExtension:
    type: string
    enum: [AVI, FLV, MP4, MPEG, WMV]
  Fail:
    type: object
    required:
      - errorCode
      - message
    properties:
      errorCode:
        type: integer
        format: int64
      message:
        type: string
tags:
  - name: server
  - name: camera
  - name: record
  - name: analytics controller